API_KEY="bot50552adfghsdfgasdfgsadfgsdfg"
API_ID ="1231243123"
API_HASH = "34gfae45635rg346terg34t3wrg"
STRING_SESSION="1BQANdfgMTdfg7LjGNRSHS54J3CGdfgIniEZ2PTZYtkmlO/YLJdfgn37/SaRI4xPL6D5+UqHvHl450XdfgPOx1KtPZsrCaregXpwTfj5dfg1xURlshVOgrN1mKTLgYOFIoeuIBodfg"
PORT=3000